* {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #5b8fb9;
  color: white;
}

.img-nav {
  height: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #ff7300;
}

.custom-input {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
}
.custom-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.custom-input::placeholder {
  color: white; /* Change placeholder color to red */
}

.centered-input {
  text-align: center;
}
.centered-input input[type="text"] {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  direction: rtl;
}
